<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.mapper.Column_articleMapper">
   <!-- 分页，根据文章标题，发表时间，浏览量，点赞数，评论数，文章类型,0：普通 1：专栏查询，
    并按照发表时间，浏览量，点赞数，评论数降序排列-->
    <select id="getArticlePage" resultType="">
        SELECT * FROM tb_article WHERE 1=1
        <if test="title!=null and title!='' "> and title like concat('%',#{title},'%')</if>
        <if test="createtime!=null and createtime!='' "> and createtime like concat('%',#{createtime},'%') order by createtime desc</if>
        <if test="atype!=null and atype!='' "> and atype like concat('%',#{atype},'%')</if>
        <if test="visits!=null and visits!=-1 "> order by visits desc</if>
        <if test="thumbup!=null and thumbup!='' "> order by thumbup desc</if>
        <if test="acomment!=null and acomment!='' "> order by acomment desc</if>
        limit ${pageIndex},${pageSize}
    </select>
    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM tb_article WHERE 1=1
        <if test="title!=null and title!='' "> and title like concat('%',#{title},'%')</if>
        <if test="createtime!=null and createtime!='' "> and createtime like concat('%',#{createtime},'%') order by createtime desc</if>
        <if test="atype!=null and atype!='' "> and atype like concat('%',#{atype},'%')</if>
        <if test="visits!=null and visits!=-1 "> order by visits desc</if>
        <if test="thumbup!=null and thumbup!='' "> order by thumbup desc</if>
        <if test="acomment!=null and acomment!='' "> order by acomment desc</if>
    </select>

    <resultMap id="alMapper" type="com.kgc.pojo.Column_article">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="image" property="image"></result>
        <result column="createtime" property="createtime"></result>
        <result column="updatetime" property="updatetime"></result>
        <result column="ispublic" property="ispublic"></result>
        <result column="istop" property="istop"></result>
        <result column="visits" property="visits"></result>
        <result column="thumbup" property="thumbup"></result>
        <result column="acomment" property="acomment"></result>
        <result column="state" property="state"></result>
        <result column="url" property="url"></result>
        <result column="atype" property="atype"></result>
        <result column="columnid" property="columnid"></result>
        <result column="userid" property="userid"></result>
        <result column="alid" property="alid"></result>
        <association property="al" javaType="com.kgc.pojo.Column_al">
            <id column="alid" property="id"></id>
            <result column="content" property="content"></result>
        </association>
    </resultMap>
    <!--根据标签编号查询所有的文章-->
    <select id="getAllarticleByalid" resultMap="alMapper">
        SELECT * FROM tb_article
        INNER JOIN tb_al
        ON tb_al.id=tb_article.alid
        WHERE tb_al.id=#{alid}
    </select>

    <resultMap id="columnMapper" type="com.kgc.pojo.Column_article">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="image" property="image"></result>
        <result column="createtime" property="createtime"></result>
        <result column="updatetime" property="updatetime"></result>
        <result column="ispublic" property="ispublic"></result>
        <result column="istop" property="istop"></result>
        <result column="visits" property="visits"></result>
        <result column="thumbup" property="thumbup"></result>
        <result column="acomment" property="acomment"></result>
        <result column="state" property="state"></result>
        <result column="url" property="url"></result>
        <result column="atype" property="atype"></result>
        <result column="columnid" property="columnid"></result>
        <result column="userid" property="userid"></result>
        <result column="alid" property="alid"></result>
        <association property="column" javaType="com.kgc.pojo.Column_column">
            <id column="columnid" property="id"></id>
            <result column="cname" property="cname"></result>
            <result column="summary" property="summary"></result>
            <result column="createtime" property="createtime"></result>
            <result column="checktime" property="checktime"></result>
            <result column="state" property="state"></result>
            <result column="userid" property="userid"></result>
        </association>
    </resultMap>
    <!--根据专栏编号和文章类型,0：普通 1：专栏查询所有普通或专栏文章-->
    <select id="getAllarticleBycolumnid" resultMap="columnMapper">
        SELECT * FROM tb_article
        INNER JOIN tb_column
        ON tb_column.id=tb_article.columnid
        WHERE 1=1
        <if test="columnid!=null and columnid!=-1"> and columnid=#{columnid}</if>
        <if test="atype!=null and atype!='' "> and atype like concat('%',#{atype},'%')</if>
    </select>

    <!--根据文章编号，查询该编号文章信息-->
    <select id="getarticleById" resultType="com.kgc.pojo.Column_article">
        SELECT * FROM tb_article WHERE id=#{id}
    </select>

    <!--添加文章-->
    <insert id="addArticle" parameterType="com.kgc.pojo.Column_article">
        INSERT INTO tb_article VALUES(NULL,#{title},#{content},#{image},now(),#{updatetime},#{ispublic},#{istop},DEFAULT,DEFAULT,DEFAULT,#{state},#{url},#{atype},#{columnid},#{userid},#{alid})
    </insert>

    <!--更新文章-->
    <update id="updateArticle" parameterType="com.kgc.pojo.Column_article">
        UPDATE tb_article SET title=#{title},content=#{content},image=#{image},updatetime=#{updatetime},ispublic=#{ispublic},istop=#{istop},state=#{state},url=#{url},
        atype=#{atype},columnid=#{columnid},userid=#{userid},alid=#{alid}
        WHERE id=#{id}
    </update>

    <!--根据文章编号更新文章的浏览量-->
    <update id="updateVisits" parameterType="int">
        UPDATE tb_article SET visits=visits+1 WHERE id=#{id}
    </update>

    <!--根据文章编号更新文章的点赞数-->
    <update id="updateThumbup" parameterType="int">
        UPDATE tb_article SET thumbup=thumbup+1 WHERE id=#{id}
    </update>

    <!--根据文章编号更新文章的评论数-->
    <update id="updateAcomment" parameterType="int">
        UPDATE tb_article SET acomment=acomment+1 WHERE id=#{id}
    </update>

    <!--根据文章编号删除文章-->
    <delete id="deleteArticle" parameterType="int">
        DELETE FROM tb_article WHERE id=#{id}
    </delete>
</mapper> 