<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.mapper.Column_columnMapper">
    <!--分页，根据专栏名称，申请时间查询所有专栏
    并根据申请时间降序排列-->
    <select id="getAllColumn_column" resultType="com.kgc.pojo.Column_column">
        SELECT * FROM tb_column WHERE 1=1
        <if test="cname!=null and cname!='' "> and cname like concat('%',#{cname},'%')</if>
        <if test="createtime!=null and createtime!='' "> and createtime=#{createtime} order by createtime desc</if>
        limit ${pageIndex},${pageSize}
    </select>
    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM tb_column WHERE 1=1
        <if test="cname!=null and cname!='' "> and cname like concat('%',#{cname},'%')</if>
        <if test="createtime!=null and createtime!='' "> and createtime=#{createtime} order by createtime desc</if>
    </select>

    <!--根据专栏编号查询该专栏信息-->
    <select id="getColumnById" resultType="com.kgc.pojo.Column_column">
        SELECT * FROM tb_column WHERE id=#{id}
    </select>

    <!--添加专栏-->
    <insert id="addColumn" parameterType="com.kgc.pojo.Column_column">
       INSERT INTO tb_column VALUES(NULL,#{cname},#{summary},now(),#{checktime},#{state},#{userid})
    </insert>

    <!--更新专栏信息-->
    <update id="updateColumn" parameterType="com.kgc.pojo.Column_column">
       UPDATE tb_column SET cname=#{cname},summary=#{summary},checktime=#{checktime},state=#{state},userid=#{userid}
       WHERE id=#{id}
    </update>

    <!--根据专栏编号删除专栏-->
    <delete id="deleteColumn" parameterType="int">
       DELETE FROM tb_column WHERE id=#{id}
    </delete>
</mapper> 