<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.mapper.Column_channelMapper">
    <!--分页，查询所有的频道-->
    <select id="getAllColumn_channel" resultType="com.kgc.pojo.Column_channel">
        SELECT * FROM tb_channel
        limit ${pageIndex},${pageSize}
    </select>

    <!--根据频道编号查询频道信息-->
    <select id="getChannelById" resultType="com.kgc.pojo.Column_channel">
        SELECT * FROM tb_channel WHERE id=#{id}
    </select>

   <!-- 添加频道-->
    <insert id="addChannel" parameterType="com.kgc.pojo.Column_channel">
       INSERT INTO tb_channel VALUES(NULL,#{channelname},#{state})
    </insert>

    <!--更新频道-->
    <update id="updateChannel" parameterType="com.kgc.pojo.Column_channel">
      UPDATE tb_channel SET channelname=#{channelname},state=#{state}
      WHERE id=#{id}
    </update>

    <!--根据频道编号删除频道-->
    <delete id="deleteChannel" parameterType="int">
      DELETE FROM tb_channel WHERE id=#{id}
    </delete>
</mapper> 