<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.mapper.AdminMapper">

    <select id="getlog" resultType="com.kgc.pojo.User_Admin">
        SELECT * FROM tb_admin
        WHERE loginname =#{loginname}
        AND
        password =#{password}
    </select>


    <select id="getAdminId" resultType="com.kgc.pojo.User_Admin">
        SELECT * FROM tb_admin
        WHERE id=#{id}
    </select>


    <insert id="add" parameterType="com.kgc.pojo.User_Admin">
         INSERT INTO tb_admin VALUES(NULL,#{loginname},#{password},#{state})
    </insert>

    <update id="Update" parameterType="com.kgc.pojo.User_Admin">
        UPDATE tb_admin
        SET loginname=#{loginname},password=#{password},state=#{state}
        WHERE id=#{id}
    </update>

    <delete id="delect" parameterType="int">
        DELETE FROM tb_admin
	    WHERE id =#{id};
    </delete>
</mapper>  