<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.mapper.Tb_invitationMapper">
    <!--专区map-->
    <resultMap id="areaMap" type="com.kgc.pojo.Invitation_invitation">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="iname" property="iname"></result>
        <result column="content" property="content"></result>
        <result column="ftime" property="ftime"></result>
        <result column="utime" property="utime"></result>
        <result column="snum" property="snum"></result>
        <result column="rnum" property="rnum"></result>
        <result column="seenum" property="seenum"></result>
        <association property="area" javaType="com.kgc.pojo.Invitation_area">
            <id column="areaid" property="id"></id>
            <result column="areaname" property="areaname"></result>
            <result column="introduce" property="introduce"></result>
            <result column="areaAdmin" property="areaAdmin"></result>
            <result column="clicknum" property="clicknum"></result>
            <association property="areaChild" javaType="com.kgc.pojo.Invitation_areaChild">
                <id column="introduceChildId" property="id"></id>
                <result column="areaname" property="areaname"></result>
                <result column="introduce" property="introduce"></result>
                <result column="areaAdmin" property="areaAdmin"></result>
                <result column="clicknum" property="clicknum"></result>
            </association>
        </association>
    </resultMap>

    <!--评论map-->
    <resultMap id="commentMap" type="com.kgc.pojo.Invitation_comment">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="iname" property="iname"></result>
        <result column="content" property="content"></result>
        <result column="ftime" property="ftime"></result>
        <result column="utime" property="utime"></result>
        <result column="snum" property="snum"></result>
        <result column="rnum" property="rnum"></result>
        <result column="seenum" property="seenum"></result>
        <association property="comment" javaType="com.kgc.pojo.Invitation_comment">
            <id column="cid" property="id"></id>
            <result column="cname" property="cname"></result>
            <result column="content" property="content"></result>
            <result column="ctime" property="ctime"></result>
            <result column="cpicture" property="cpicture"></result>
            <result column="cnum" property="cnum"></result>
        </association>
    </resultMap>

    <!--分页-->
    <select id="getTb_invitationPage" resultType="com.kgc.pojo.Invitation_invitation">
        SELECT * FROM tb_invitation WHERE 1=1
        <if test="title!=null and title!=''"> and title like concat('%',#{title},'%')</if>
        <if test="iname!=null and iname!=''"> and iname like concat('%',#{iname},'%')</if>
        <if test="ftime!=null and ftime!=''"> and ftime like CONCAT('%',#{ftime},'%') order by ftime desc</if>
        <if test="snum!=null and snum!=-1"> and snum=#{snum} order by snum desc</if>
        <if test="rnum!=null and rnum!=-1"> and rnum=#{rnum} order by rnum desc</if>
        <if test="seenum!=null and seenum!=-1"> and seenum=#{seenum} order by seenum desc</if>
        limit ${pageIndex},${pageSize}
    </select>
    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM tb_invitation WHERE 1=1
        <if test="title!=null and title!=''"> and title like concat('%',#{title},'%')</if>
        <if test="iname!=null and iname!=''"> and iname like concat('%',#{iname},'%')</if>
        <if test="ftime!=null and ftime!=''"> and ftime like CONCAT('%',#{ftime},'%') order by ftime desc</if>
        <if test="snum!=null and snum!=-1"> and snum=#{snum} order by snum desc</if>
        <if test="rnum!=null and rnum!=-1"> and rnum=#{rnum} order by rnum desc</if>
        <if test="seenum!=null and seenum!=-1"> and seenum=#{seenum} order by seenum desc</if>
    </select>

    <!--帖子表，专区表两表连接查询-->
    <select id="getTb_invitationAndTb_area" resultMap="areaMap">
        SELECT tb_invitation.*,tb_area.* FROM tb_invitation
        INNER JOIN tb_area
        ON tb_area.id=tb_invitation.areaid
        order by ftime desc
    </select>

    <!--帖子表，评论表两表连接查询-->
    <select id="getTb_invitationAndTb_comment" resultMap="commentMap">
         SELECT tb_invitation.*,tb_comment.* FROM tb_invitation
         INNER JOIN tb_comment
         ON tb_comment.id=tb_invitation.cid
         ORDER BY ftime
    </select>

    <!--根据帖子编号查询某一个帖子信息-->
    <select id="getTb_invitationById" resultType="com.kgc.pojo.Tb_invitation">
          SELECT * FROM tb_invitation WHERE id=#{id}
    </select>

    <!--添加新的帖子-->
    <insert id="addTb_invitation" parameterType="com.kgc.pojo.Tb_invitation">
        INSERT INTO tb_invitation VALUES(NULL,#{title},,#{iname},#{content},now(),now(),default,default,default,#{areaid},#{cid})
    </insert>

    <!--更新帖子信息-->
    <update id="updateTb_invitation" parameterType="com.kgc.pojo.Tb_invitation">
        UPDATE tb_invitation SET title=#{title},iname=#{iname},content=#{content},utime=now(),areaid=#{areaid},cid=#{cid}
        WHERE id=#{id}
    </update>

    <!--根据帖子ID更新帖子点赞数-->
    <select id="updateSnum" parameterType="int">
        UPDATE tb_invitation SET snum=snum+1 WHERE id=#{id}
    </select>

    <!--根据帖子ID更新帖子推荐数-->
    <select id="updateRnum" parameterType="int">
        UPDATE tb_invitation SET rnum=rnum+1 WHERE id=#{id}
    </select>

    <!--根据帖子ID更新帖子浏览数-->
    <select id="updateSeenum" parameterType="int">
        UPDATE tb_invitation SET seenum=seenum+1 WHERE id=#{id}
    </select>

    <!--据ID删除某个帖子-->
    <delete id="deleteTb_invitation" parameterType="int">
        DELETE FROM tb_invitation WHERE id=#{id}
    </delete>
</mapper> 